spring.application.name=FinanceDashboard
spring.datasource.url= your-MySQL-databse address
spring.datasource.username= your-username
spring.datasource.password= your-password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
jwt.secret= your_base64_encoded_secret_key
jwt.expiration=1800000